<div id="container">
	<img id="ripple" src="/ripple.png" alt="leonardo">
	<div id="text">
		<h2>Leonardo da Vinci's Studies of water currents: with a modern twist</h2>

		<h4>Dr. Meredith J. Gill HONR208R</h4>
		<h4>Danny Shaw</h4>
		<h4>ca. 2014-2014</h4>
		<h4>Javascript and CSS over a website HTML page</h4>

	</div>
</div>

<script>
	$(document).ready(function() {
		$("#ripple").waterripple({onclick:true, onmove: true});
	});
</script>